<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="Keras.NET" version="3.8.4.4" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Numpy.Bare" version="3.8.1.22" targetFramework="net472" />
  <package id="NumSharp.Lite" version="0.1.8" targetFramework="net472" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net472" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net472" />
  <package id="SciSharp.TensorFlow.Redist" version="2.3.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="TensorFlow.NET" version="0.20.1" targetFramework="net472" />
</packages>